header {
    position: fixed;
    padding: 14px 0 20px 20px;
    width: 100%;
    top: 0;
    z-index: 50;
}
img {
    position: absolute;
    width: 100px;
    top: 14px;
    left: 22px;
}
nav {
    float: right;
    padding: 0 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50px 0 0 50px;
}
li {
    display: inline-block;
    position: relative;
}
a {
    display: block;
    padding: 0 14px;
    line-height: 36px;
    color: #116e9b;
    font-size: 12px;
    font-weight: bold;
    transition: 0.2s;
    text-decoration: none;
}

a:hover {
    color: #56c6fd;
    transition: 0.2s;
}

.isActive {
    color: #56c6fd;
}