<div class="containerTags">
    <ul class="panel">
        <li class="tag">
            <a [routerLink]="['/talents']" 
            (click)="allTalents()" 
            [ngClass]="{ 'isActive': linkActive == 'all' }">ALL</a>
        </li>
        <li class="tag">
            <a [routerLink]="['/talents']" 
            (click)="filterTalentsByBra('hololive')" 
            [ngClass]="{ 'isActive': linkActive == 'hololive' }" 
            [queryParams]="{ gp: 'hololive'}">hololive</a>
        </li>
        <li class="tag">
            <a [routerLink]="['/talents']" 
            (click)="filterTalentsByGen('gen-0')" 
            [ngClass]="{ 'isActive': linkActive == 'gen-0' }" 
            [queryParams]="{ gp: 'gen-0'}">Gen 0</a>
        </li>
        <li class="tag">
            <a [routerLink]="['/talents']" 
            (click)="filterTalentsByGen('gen-1')" 
            [ngClass]="{ 'isActive': linkActive == 'gen-1' }" 
            [queryParams]="{ gp: 'gen-1'}">Gen 1</a>
        </li>
        <li class="tag">
            <a [routerLink]="['/talents']" 
            (click)="filterTalentsByGen('gen-2')" 
            [ngClass]="{ 'isActive': linkActive == 'gen-2' }" 
            [queryParams]="{ gp: 'gen-2'}">Gen 2</a>
        </li>
        <li class="tag">
            <a [routerLink]="['/talents']" 
            (click)="filterTalentsByGen('gamers')" 
            [ngClass]="{ 'isActive': linkActive == 'gamers' }" 
            [queryParams]="{ gp: 'gamers'}">GAMERS</a>
        </li>
        <li class="tag">
            <a [routerLink]="['/talents']" 
            (click)="filterTalentsByGen('gen-3')" 
            [ngClass]="{ 'isActive': linkActive == 'gen-3' }" 
            [queryParams]="{ gp: 'gen-3'}">Gen 3</a>
        </li>
        <li class="tag">
            <a [routerLink]="['/talents']" 
            (click)="filterTalentsByGen('gen-4')" 
            [ngClass]="{ 'isActive': linkActive == 'gen-4' }" 
            [queryParams]="{ gp: 'gen-4'}">Gen 4</a>
        </li>
        <li class="tag">
            <a [routerLink]="['/talents']" 
            (click)="filterTalentsByGen('gen-5')" 
            [ngClass]="{ 'isActive': linkActive == 'gen-5' }" 
            [queryParams]="{ gp: 'gen-5'}">Gen 5</a>
        </li>
        <li class="tag">
            <a [routerLink]="['/talents']" 
            (click)="filterTalentsByGen('holox')" 
            [ngClass]="{ 'isActive': linkActive == 'holox' }" 
            [queryParams]="{ gp: 'holox'}">holoX</a>
        </li>
        <li class="tag">
            <a [routerLink]="['/talents']" 
            (click)="filterTalentsByBra('indonesia')" 
            [ngClass]="{ 'isActive': linkActive == 'indonesia' }" 
            [queryParams]="{ gp: 'indonesia'}">Indonesia</a>
        </li>
        <li class="tag">
            <a [routerLink]="['/talents']" 
            (click)="filterTalentsByBra('english')" 
            [ngClass]="{ 'isActive': linkActive == 'english' }" 
            [queryParams]="{ gp: 'english'}">English</a>
        </li>
        <li class="tag">
            <a [routerLink]="['/talents']" 
            (click)="filterTalentsByGen('myth')" 
            [ngClass]="{ 'isActive': linkActive == 'myth' }" 
            [queryParams]="{ gp: 'myth'}">Myth</a>
        </li>
        <li class="tag">
            <a [routerLink]="['/talents']" 
            (click)="filterTalentsByGen('project-hope')" 
            [ngClass]="{ 'isActive': linkActive == 'project-hope' }" 
            [queryParams]="{ gp: 'project-hope'}">Project: HOPE</a>
        </li>
        <li class="tag">
            <a [routerLink]="['/talents']" 
            (click)="filterTalentsByGen('council')" 
            [ngClass]="{ 'isActive': linkActive == 'council' }" 
            [queryParams]="{ gp: 'council'}">Council</a>
        </li>
        <li class="tag">
            <a [routerLink]="['/talents']" 
            (click)="filterTalentsByGen('promise')" 
            [ngClass]="{ 'isActive': linkActive == 'promise' }" 
            [queryParams]="{ gp: 'promise'}">Promise</a>
        </li>
        <li class="tag">
            <a [routerLink]="['/talents']" 
            (click)="filterTalentsByGen('advent')" 
            [ngClass]="{ 'isActive': linkActive == 'advent' }" 
            [queryParams]="{ gp: 'advent'}">Advent</a>
        </li>
        <li class="tag">
            <a [routerLink]="['/talents']" 
            (click)="filterTalentsByGen('justice')" 
            [ngClass]="{ 'isActive': linkActive == 'justice' }" 
            [queryParams]="{ gp: 'justice'}">Justice</a>
        </li>
        <li class="tag">
            <a [routerLink]="['/talents']" 
            (click)="filterTalentsByBra('devis')" 
            [ngClass]="{ 'isActive': linkActive == 'devis' }" 
            [queryParams]="{ gp: 'devis'}">hololive DEV_IS</a>
        </li>
        <li class="tag">
            <a [routerLink]="['/talents']" 
            (click)="filterTalentsByGen('regloss')" 
            [ngClass]="{ 'isActive': linkActive == 'regloss' }" 
            [queryParams]="{ gp: 'regloss'}">ReGLOSS</a>
        </li>
        <li class="tag">
            <a [routerLink]="['/talents']" 
            (click)="filterTalentsByGen('flow-glow')" 
            [ngClass]="{ 'isActive': linkActive == 'flow-glow' }" 
            [queryParams]="{ gp: 'flow-glow'}">FLOW GLOW</a>
        </li>
        <li class="tag">
            <a [routerLink]="['/talents']" 
            (click)="filterTalentsByBra('alum')" 
            [ngClass]="{ 'isActive': linkActive == 'alum' }" 
            [queryParams]="{ gp: 'alum'}">Alum</a>
        </li>
        <li class="tag">
            <a [routerLink]="['/talents']" 
            (click)="filterTalentsByBra('holoan')" 
            [ngClass]="{ 'isActive': linkActive == 'holoan' }" 
            [queryParams]="{ gp: 'holoan'}">holoAN</a>
        </li>
        <li class="tag">
            <a [routerLink]="['/talents']" 
            (click)="filterTalentsByBra('staff')" 
            [ngClass]="{ 'isActive': linkActive == 'staff' }" 
            [queryParams]="{ gp: 'tag_office-staff'}">Office Staff</a>
        </li>
    </ul>
</div>