<div class="containerTags">
    <ul class="panel">
        <li class="tag">
            <a [routerLink]="['/talents']">ALL</a>
        </li>
        <li class="tag">
            <a [routerLink]="['/talents']" [queryParams]="{ gp: 'hololive'}">hololive</a>
        </li>
        <li class="tag">
            <a [routerLink]="['/talents']" [queryParams]="{ gp: 'gen-0'}">Gen 0</a>
        </li>
        <li class="tag">
            <a [routerLink]="['/talents']" [queryParams]="{ gp: 'gen-1'}">Gen 1</a>
        </li>
        <li class="tag">
            <a [routerLink]="['/talents']" [queryParams]="{ gp: 'gen-2'}">Gen 2</a>
        </li>
    </ul>
</div>