ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
a {
    display: block;
    padding: 8px;
    transition: 0.2s;
    text-decoration: none;
    height: 100%;
}
figure {
    position: relative;
    padding-top: 100%;
    margin-bottom: 8px;
    height: 0;
    border-radius: 5px;
    overflow: hidden;
}
img {
    position: absolute;
    max-width: 100%;
    height: auto;
    top: 0;
    left: 0;
    transition: 0.2s;
}
h2 {
    line-height: 1.3em;
    color: #063f5c;
    font-size: 16px;
    font-weight: bold;
}
span {
    display: block;
    font-size: 11px;
}

div.containerTalentList {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 1100px;
    width: 94%;

    animation-name: fade_talent;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
    transition: 0.9s ease;
    opacity: 1;
}
li.talent {
    float: left;
    width: 16.66%;
}

a:hover {
    background-color: rgba(0, 0, 0, 0.05);
    transition: 0.2s;
}
a:hover img {
    transform: scale(1.2);
    transition: 0.2s;
}

ul::after {
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    content: ".";
}

@keyframes fade_talent{
    from {
        transform: translateY(90px);
    }
    to {
        transform: translateY(0);
    }
}