<div class="containerTalentList">
  <ul>
    @for (card of showData; track card) {
      <li class="talent">
        <a [routerLink]="['/talents']">
          <figure>
            <img alt="{{ card.talent.name }}" src="{{ card.talent.image }}">
          </figure>
          <h2>
            @if (card.talent.name == 'Watson Amelia') {
              [Affiliate] {{ card.talent.name }}
            } @else if (card.talent.isActive) {
              {{ card.talent.name }}
            } @else if (card.generation != 'staff') {
              [Alum] {{ card.talent.name }}
            } @else {
              [Retirement] {{ card.talent.name }}
            }
            <span>{{ card.talent.nameJP }}</span>
          </h2>
        </a>
      </li>
    }
  </ul>
</div>